body {
  font-family: Arial, sans-serif;
  background-color: #3e3e3e;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  background: rgb(35, 35, 35);
  padding: 30px;
  border-radius: 10px;
  width: 700px;
  box-shadow: 0 4px 10px rgba(120, 114, 114, 0.014);
}

h1 {
  text-align: center;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #23122d;
  color: rgb(222, 219, 219);
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background-color: #2a1234;
}
 /*---Nuevo estilo para tabla---*/
 
 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #333;
  color: white;
  padding: 8px;
  text-align: left;
}

td {
  padding: 8px;
  border-bottom: 1px solid #737272;
}

tr:nth-child(even) {
  background-color: #8d8b8b;
}

/* Imagen del perro */
img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border-radius: 10px;
}