body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 700px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background-color: #45a049;
}
 /*---Nuevo estilo para tabla---*/
 
 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #333;
  color: white;
  padding: 8px;
  text-align: left;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Imagen del perro */
img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border-radius: 10px;
}