body {
  font-family: Arial, sans-serif;
  background-color: #07000032;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  background: rgb(157, 157, 157);
  padding: 30px;
  border-radius: 10px;
  width: 700px;
  box-shadow: 0 4px 10px rgba(64, 46, 69, 0.014);
}

h1 {
  text-align: center;
  color: #584561;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #3d1951;
  color: rgb(222, 219, 219);
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background-color: #584561;
}
 /*---Nuevo estilo para tabla---*/
 
 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #807f7f;
  color: white;
  padding: 8px;
  text-align: left;
}

td {
  padding: 8px;
  border-bottom: 1px solid #b2afaf;
}

tr:nth-child(even) {
  background-color: #b4afaf;
}
